.chat-page {
  position: absolute;
  display: flex;
  flex-direction: row;
 height: 100%;
  width: 100%;
  .room {
    flex: 1  1 30%;
    //height: 100%;
    background-color: cadetblue;
  }
  .chat{
    flex: 1  1 70%;
    height: 100%;
  }
}
