<div class="chat-page">
  <div class="room">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         [routerLink]="['rooms']"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        Rooms
      </a>
      <a mat-tab-link
         [routerLink]="['/chat',{ outlets: { list: ['l'] } }]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        Users
      </a>
    </nav>
    <router-outlet name="list"></router-outlet>


  </div>
  <div class="chat">
    <router-outlet ></router-outlet>
  </div>
</div>
