.chat-list{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  .col{
    flex: 0 1 auto;
  }
  .col-flex{
    flex: 1 1 auto
  }
}
.messages-list{
  margin: 0;
  overflow-y: scroll;
  height: calc(100% - 64px);
  position: relative;
}
.server-scrolling-demo{
  height: calc(100vh - 110px);
}

.message-input{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 64px;
  //background: gray;
  form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    input{
     flex: 1 1 auto;
      border: none;

    }
    .send-btn{
      flex: 0 1 64px;
      vertical-align: middle;
      text-align: center;
      margin: auto;
      //height: 64px;
      //width: 64px;
      //float: right;
    }
  }
}
