
.markdown-editor{

  width: inherit;
  height: inherit;
  .edit-panel{
    margin: 0;
    height: 40px;
    width: 100%;
    background-color: #F0F0F0;
  }
  textarea,.md-content{
    background-color: #FEFEFE;
    overflow: auto;
    margin: 0;
    width: 100%;
    height: calc(100% - 36px);
  }
  textarea{
    margin: 0;
    border: 0;
    padding: 0;
    resize: none;
    outline: none;
  }
}
