<div class="login-page">
  <div class="login-block">
    <h2>Login</h2>
    <form class="login-form" (submit)="login()" [formGroup]="loginForm" novalidate>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="password" type="password" formControlName="password">
      </mat-form-field>
      <div class="accept-form">
        <button mat-raised-button type="submit" [disabled]="loginForm.pristine || !loginForm.valid">Login</button>
        <button mat-raised-button color="primary" type="button">Sighup</button>
      </div>
    </form>
    <div class="button-row">
      <a href="/auth/google" mat-fab color="accent" class="google">
        <mat-icon svgIcon="google" ></mat-icon>
      </a>
      <a href="/auth/google" class="facebook" mat-fab  color="primary">
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>
      <a href="/auth/github" mat-fab class="github">
        <mat-icon svgIcon="github" ></mat-icon>
      </a>
    </div>
  </div>
</div>
