<span>HOME COMPONENT</span>
<div class="progress-circle">
  <div class="circle-content">
    <svg viewbox="0 0 100 100"  class="pie-diagramm">
      <linearGradient id="lgrad" x1="100%" y1="50%" x2="0%" y2="50%">
        <stop offset="0%" style="stop-color:rgb(128,0,128);stop-opacity:0" />
        <stop offset="100%" style="stop-color:rgb(69,0,69);stop-opacity:1" />
      </linearGradient>
      <radialGradient id = "g1" cx = "50%" cy = "50%" r = "50%" fx = "25%" fy = "25%" curveto="">
        <stop stop-color = "black" offset = "0%"/>
        <stop stop-color = "teal" offset = "50%"/>
        <stop stop-color = "white" offset = "100%"/>
      </radialGradient>
      <circle class="outline-circle" r="46" cx="50" cy="50">
      </circle>

      <circle class="background-circle"
              stroke="url(#g1)"
              r="46" cx="50" cy="50"
              stroke-dasharray="263.89"
              stroke-dashoffset="0">
      </circle>
    </svg>
  </div>
</div>
<div class="progress-circle">
  <div class="circle-content">
    <svg viewbox="0 0 100 100"  class="pie-diagramm">

      <circle class="outline-circle" r="46" cx="50" cy="50">
      </circle>

      <circle class="background-circle"
              r="46" cx="50" cy="50"
              stroke-dasharray="263.89"
              stroke-dashoffset="100">
      </circle>
    </svg>
  </div>
</div>
