<div [ngClass]="{'hidden-block': !open}">
  <div class="header handle">
    <h3>{{title}}</h3>
    <button class="expansion-indicator" (click)="toggle()"></button>

    <button  class="menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
  <div class="input-name">
    <form class="form-fields" [formGroup]="cardForm" (ngSubmit)="onSubmit()" novalidate>
      <input  type="text" formControlName="name" placeholder="Clearable input"/>
      <button  mat-icon-button  class="clear-text" (click)="clearData()" type="button" aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </div>
</div>
